@font-face {
  font-family: "TitleFont";
  src: url("./assets/fonts/LilitaOne.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "DefaultFont";
  src: url("./assets/fonts/Quicksand.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0;
  font-family: "DefaultFont", sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.custom-font {
  font-family: "TitleFont", sans-serif;
}